body {
  background: black;
  font-family: "Roboto";
  font-size: 32px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  --font-size: 32px;
  --line-height: 38px;
  --line-limit: 5;
}

/*
 * Fullscreen
 * Font size: 48px.
 * Subtitle height: 58px;
 */

#subcont {
  width: 840px;
  height: calc(var(--line-limit) * var(--line-height));
  max-height: calc(var(--line-limit) * var(--line-height));
  overflow: hidden;
  position: relative;
}

#subtitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.subgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.prelim {
  color: rgba(255, 255, 255, 0.67);
}

.sub {
  background: rgba(8, 8, 8, 0.75);
  padding: 0 0.25em;
  white-space: pre-wrap;
}

.sub:nth-child(n+4):last-child {
  animation: reveal 0.2s linear;
}

@keyframes reveal {
  from { margin-bottom: -38px; }
  to { margin-bottom: 0px; }
}

.subgroup:nth-last-child(1) {opacity: 1;}
.subgroup:nth-last-child(2) {opacity: 0.8;}
.subgroup:nth-last-child(3) {opacity: 0.6;}
.subgroup:nth-last-child(4) {opacity: 0.4;}
.subgroup:nth-last-child(5) {opacity: 0.2;}
.subgroup:nth-last-child(n+6) {opacity: 0;}